<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
		<meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor'
      crossorigin='anonymous'
    />
		<link rel='stylesheet' href='/css/style.css' />
		<link rel="icon" href="/images/flower-svgrepo-com.svg">
    <title>Spell Bee Solver</title>
</head>
<body>

		{{!-- <nav class='navbar fixed-top navbar-custom shadow-p'> --}}
			{{!-- <div class='container-fluid shadow-p'> --}}
				{{!-- [><a class="navbar-brand" href="/"><] --}}
					{{!-- [><img src="/images/flower-svgrepo-com.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"><] --}}
					{{!-- [>Spell Bee Solver			<] --}}
				{{!-- [></a><] --}}
							{{!-- </div> --}}
		{{!-- </nav> --}}
<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
  <div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/images/flower-svgrepo-com.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
			SpellBeeSolver
		</a>
    {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> --}}
      {{!-- <span class="navbar-toggler-icon"></span> --}}
    {{!-- </button> --}}
    {{!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02"> --}}
			{{!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> --}}
			{{!-- </ul> --}}
      <div class="d-flex">
        <ul class="navbar-nav">
					<li class="nav-item">
						<a  aria-current="page" href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank">Spell Bee Website</a>
					</li>
				</ul>
      </div>
    {{!-- </div> --}}
  </div>
</nav>

    {{{body}}}
		

		<section class="container-fluid" id="foot">
			<div>Made with ♥ by &nbsp; </div>
			<a href="https://www.github.com/akhlxd" target="_blank" id="profile"> Mohd Akhlad Ansari</a>
		</section>

		 <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2'
      crossorigin='anonymous'
    ></script>

</body>
</html>
