html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background: #000; 
}

.navbar-custom {
  background-color: #121212;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
	color: #BB86FC;
}

#formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 92vh;
}

#mainHeading {
	color: #BB86FC;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 10px 0 15px 0;
}

/*#result {*/
  /*text-align: center;*/
  /*font-size: 3rem;*/
  /*font-weight: 700;*/
  /*margin: 30px 0;*/
/*}*/

#form {
  background-color: #121212;
  max-width: 700px;
  border: 1px solid black; 
  border-radius: 12px;
  padding: 20px 50px 30px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#reg {
  background-color: #BB86FC;
  color: #000;
  padding: 5px 12px;
	border : 0px;
}

#reg_sub {
	background-color: #023e8a;
	color: white;
	padding: 5px 12px;
}

.field {
	margin-bottom: 1.5rem;
}

/*#signin {*/
	/*color: #fff;*/
/*}*/

#signin:hover {
	color: white;
}

#reg:hover {
  color: white;
  background-color: #301934;
}

.char {
	margin-bottom: 0px;
	padding: 0px 10px;
}

#reg_sub:hover {
	color: white;
	background-color: #301934;
}

.rescon {
	background-color: rgba(255, 255, 255, 0.94);
}

.mb-sm-4 {
	margin-bottom: 20px;
}

.tex {
	size: 2rem;
}

.label {
	color: #BB86FC;
	font-size: 1rem;
	font-weight: 500;
	margin: 0px 0px 5px 0px;
}

#res {
	display: flex;
	background-color: #121212;
  /*max-width: 200px;*/
  border: 1px solid black; 
  border-radius: 12px;
  padding: 20px 50px 30px 50px;
  margin-bottom: 20px;
	justify-content: center;
	align-self: center;
}

td {
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

#foot {
	display: flex;
  flex-direction: row;
  justify-content: center;
	/*align-items: center;*/
	color: white;
	font-size: 1.5rem;
	margin-bottom:1rem;

}



a:link {
	color: #BB86FC; 
	text-decoration: none;
}

a:visited {
	color: #BB86FC;
}

/*a:hover {*/
	/*color: #992096;*/
/*}*/


}

@media (max-width: 70px) {
  #form {
    padding: 190px 22px 30px;
  }

  #mainHeading {
    padding: 90px 0 30px 0;
  }
	#foot {
		display: flex;
		flex-direction: column;
	}
}
